* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.container {
    margin: 0px auto;
    max-width: 181rem;
    padding: 0 2.0rem;
    position: relative;
    width: 100%;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
    font-size: 21px;
    border-radius: 24px;
}

.nav {
    display: none;
}

/* Style of topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* hover colour*/
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Image class style */
.image {
    background-color: antiquewhite;
    padding: 25px;
}

/* Image size */
img {
    height: 815px;
    width: 91%;
    margin-left: 74px;
    border-radius: 24px;
}

/* Paragragh style */
p {
    text-align: center;
    font-size: x-large;
    font-style: italic;
}

input {
    font-size: 22px;
    border-radius: 16px;
}

/*Footer Style*/
.Footer {
    color: brown;
    background-color: black;
}

img {
    max-width: 137rem;
}